.aboutSection {
  --contentWidth: 450px;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 50px max(2rem, 50vw - var(--contentWidth) / 2);
}

.aboutSection > p {
  width: clamp(30ch, 50%, 75ch);
  justify-self: center;
  text-align: center;
}

.technologiesGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.technologiesWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.technologiesWrapper div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.aboutSection h2 {
  color: #596e90;
}

.technologiesGrid img {
  width: 50px;
}

@media (min-width: 600px) {
  .technologiesGrid {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .aboutSection {
    --contentWidth: 1024px;
    height: calc(100vh - 70px);
  }

  .technologiesWrapper div {
    margin: 20px;
  }

  .technologiesGrid img {
    width: 70px;
  }
}

@media (min-width: 1440px) {
  .aboutSection {
    --contentWidth: 1440px;
    align-items: start;
  }
}
