.App {
  position: relative;
  display: grid;
}

nav {
  padding: 5px;
  display: flex;
  justify-content: end;
  gap: 15px;
}

.socialLinks {
  gap: 10px;
}

h1,
h2,
h3,
p,
a {
  padding: 5px 0px;
}

h2 {
  font-size: clamp(1.25rem, 2vw, 2rem);
}

h3 {
  font-size: clamp(1.125rem, 1.3vw, 1.5rem);
}

.socialLinks svg {
  height: 18px;
  width: 18px;
}

a {
  font-weight: 500;
  color: #f9fafb;
  display: flex;
  align-items: center;
  gap: 2px;
}

.socialLinks a {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

@media (hover: hover) {
  a[title="Github"]:hover {
    background-color: #8241f9;
  }

  a[title="LinkedIn"]:hover {
    background-color: #0a66c2;
  }

  a[title="Twitter"]:hover {
    background-color: #1da1f2;
  }
}

a.active {
  color: #f7330e;
}
