.App {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.App > header,
.App > section,
.App > footer {
  grid-column: 2 / 3;
  padding: 10px;
}

nav {
  padding: 5px;
  display: flex;
}

h1,
h2,
h3,
p,
a {
  padding: 5px;
}

h2 {
  font-size: clamp(1.25rem, 2vw, 2rem);
}

h3 {
  font-size: clamp(1.125rem, 1.3vw, 1.5rem);
}

a {
  font-weight: 500;
  color: #646cff;
  display: flex;
  align-items: center;
  gap: 2px;
}

a.active {
  color: red;
}
