.App {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 70px repeat(4, 1fr);
}

.App > header,
.App > section,
.App > footer {
  grid-column: 2 / 3;
  padding: 10px;
}
h1,
h2,
p,
a {
  padding: 5px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a.active {
  color: red;
}
