.contactSection {
  --contentWidth: 450px;
  display: flex;
  flex-direction: column;
  padding: 100px max(2rem, 50vw - var(--contentWidth) / 2);
}

.footerOne {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.footerOne > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerTwo {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyrightContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.emailWrapper h2,
.emailWrapper p {
  min-width: 215px;
}

.emailWrapper h2 {
  font-size: clamp(2.5rem, 3.5vw, 6rem);
  text-align: center;
}

.emailWrapper p {
  color: #596e90;
  font-size: clamp(1rem, 2vw, 4rem);
}

.copyrightContainer p,
.copyrightContainer span {
  display: flex;
  align-items: center;
}

.contactSection a {
  background-color: #1a2029;
}

@media (min-width: 1024px) {
  .contactSection {
    --contentWidth: 1024px;
  }

  input {
    width: 300px;
  }
}

@media (min-width: 1440px) {
  .contactSection {
    --contentWidth: 1440px;
  }
}
