.contactSection {
  --contentWidth: 450px;
  display: flex;
  flex-direction: column;
  padding: 10px max(2rem, 50vw - var(--contentWidth) / 2);
}

.footerOne {
  flex: 1;
  display: flex;
  padding: 50px 0px;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.footerOne > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form,
label {
  display: flex;
  flex-direction: column;
}

.sendBtn {
  margin: 20px 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 5px;
}

label {
  padding: 10px;
}

input {
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #2b3544;
  margin-top: 10px;
  padding-top: 5px;
  color: #f9fafb;
  background-color: #212934;
}

@media (min-width: 1024px) {
  .contactSection {
    --contentWidth: 1024px;
  }

  input {
    width: 300px;
  }
}

@media (min-width: 1440px) {
  .contactSection {
    --contentWidth: 1440px;
  }
}

.socialLinks {
  gap: 10px;
}

.contactSection h2 {
  font-size: clamp(3rem, 4vw, 6rem);
}

.contactSection p {
  color: #646cff;
}

.socialLinks a {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #1f2632;
  justify-content: center;
}

.socialLinks svg {
  height: 18px;
  width: 18px;
}

input:focus {
  outline-color: aqua;
}
