.mainHeader {
  height: 70px;
  width: 100%;
  --contentWidth: 1250px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #272f3e;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 10px max(1rem, 50vw - var(--contentWidth) / 2);
}

.siteLogo {
  height: 38px;
  width: 38px;
  border-radius: 5px;
  background: linear-gradient(
    to right bottom,
    rgb(93, 141, 245),
    rgb(156, 190, 246)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.headerNav {
  flex: 1;
}

.hamburgerMenu {
  display: none;
}

.hamburgerMenu.menuActive {
  width: 60%;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  animation: expand 500ms ease-in-out;
  transform-origin: right;
}

@keyframes expand {
  0% {
    transform: scaleX(0);
  }

  70% {
    transform: scaleX(1.1);
  }

  100% {
    transform: scaleX(1);
  }
}

.hamburgerMenu .headerNav {
  background: linear-gradient(
    to right bottom,
    rgb(89, 110, 144),
    rgb(31, 38, 50)
  );
  flex-direction: column;
  justify-content: start;
  padding: 20px;
}

.menuBtn,
.closeMenuBtn {
  border: none;
  background-color: #272f3e;
  height: 35px;
  width: 35px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.closeMenuBtn {
  margin-top: 20px;
  animation: rotate 500ms ease-in-out 200ms;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.siteLogo a {
  font-size: 1.5rem;
  font-weight: 900;
}

.siteLogo a.active {
  color: #f9fafb;
}

.headerNav a {
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.menuBtn svg,
.closeMenuBtn svg {
  height: 30px;
  width: 30px;
  color: #f9fafb;
}

@media (max-width: 700px) {
  .navContainer {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    justify-content: end;
    gap: 7px;
  }
}

@media (hover: hover) {
  .headerNav a:hover {
    color: #0c66f6;
  }
}
