@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.heroSection {
  --contentWidth: 450px;
  background-color: #1f2632;
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 25px max(2rem, 50vw - var(--contentWidth) / 2);
}

.heroSection > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.heroSection nav {
  justify-self: start;
  align-self: center;
}

.heroSection h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: clamp(4rem, 10vw, 12rem);
  line-height: 1;
  align-self: center;
}

.heroSection h2 {
  font-size: clamp(1.5rem, 3.5vw, 3.75rem);
  line-height: 1;
  justify-self: end;
  align-self: end;
}

/* .socialLinks.heroSocialLinks a {
  background-color: #1a2029;
} */

.heroSection span {
  color: #596e90;
}

@media (min-width: 1024px) {
  .heroSection {
    height: calc(100vh - 70px);
  }

  .heroSection {
    --contentWidth: 1024px;
  }
}

@media (min-width: 1440px) {
  .heroSection {
    --contentWidth: 1440px;
  }
}
