@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: #f9fafb;
  background-color: #212934;
}

#root {
  width: 100%;
}
